[package]
name = "which"
version = "5.0.0"
edition = "2021"
rust-version = "1.63"
authors = ["Harry Fei <tiziyuanfang@gmail.com>"]
repository = "https://github.com/harryfei/which-rs.git"
documentation = "https://docs.rs/which/"
license = "MIT"
description = "A Rust equivalent of Unix command \"which\". Locate installed executable in cross platforms."
readme = "README.md"
categories = ["os", "filesystem"]
keywords = ["which", "which-rs", "unix", "command"]

[dependencies]
either = "1.6.1"
# Pin this to the last version that supported 1.63, which is our MSRV.
regex = { version = "= 1.9.6", optional = true }
rustix = { version = "0.38.10", default-features = false, features = ["fs", "std"] }

[target.'cfg(any(windows, unix, target_os = "redox"))'.dependencies]
home = "0.5.5"

[target.'cfg(windows)'.dependencies]
windows-sys = { version = "0.48", features = ["Win32_Storage_FileSystem", "Win32_Foundation"] }
once_cell = "1"

[dev-dependencies]
tempfile = "3.3.0"

[package.metadata.docs.rs]
all-features = true
